* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    font-weight: 400;
    background: url(./img/BG.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    height: 68px;
    padding: 10px;
    background-color: rgba(244, 208, 63, 0.8);
}

.logo {
    float: left;
    padding: 10px;
    margin-left: 16px;
    margin-top: -4px;
}

.logo a {
    color: black;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 2px;
    letter-spacing: 2px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: block;
    float: left;
}

nav ul li:not(:first-child){
    margin-left: 48px;
}

nav ul li:last-child{
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

@media only screen and (max-width: 865px){
    .logo{
        padding: 0;
        margin-top: 5px;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background-color: rgba(244, 208, 63, 1);
        opacity: 0;
        transition: all 0.2s ease;
    }

    .menu ul {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .menu ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .menu ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .menu ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .menu ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .menu ul li:not(:first-child) {
        margin-left: 0;
    }

    .menu ul li a {
        padding: 10px 24px;
        opacity: 4;
        color: black;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background-color: black;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .menu {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .menu ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}